[Unit]
Description=Jabber RSS Bot
After=network.target remote-fs.target nss-lookup.target

[Service]
User=jabrss
Group=jabrss
Type=simple
ExecStart=/usr/bin/python3 jabrssng.py
WorkingDirectory=/home/jabrss/jabrss
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
